/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

header {
  margin-bottom: 20px;
}

header img {
  max-width: 100px;
}

header h1 {
  color: #007acc;
}

.login-form {
  text-align: left;
}

.input-container {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #007acc;
  border-radius: 3px;
}

.forgot-links {
  margin-top: 10px;
  color: #007acc;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007acc;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #005b9f;
}

footer {
  margin-top: 20px;
  color: #777;
}